<nav
  class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
  arial-label="Furni navigation bar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">HomeHaven<span>.</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li [ngClass]="{ 'nav-item active': currentRoute === '/' }">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li [ngClass]="{ 'nav-item active': currentRoute === '/shop' }">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li [ngClass]="{ 'nav-item active': currentRoute === '/about' }">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
        <li [ngClass]="{ 'nav-item active': currentRoute === '/blog' }">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li [ngClass]="{ 'nav-item active': currentRoute === '/contact' }">
          <a class="nav-link" routerLink="/contact">Contact us</a>
        </li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li *ngIf="login">
          <a class="nav-link" routerLink="/profile"
            ><img src="assets/images/user.svg"
          /></a>
        </li>
        <li>
          <a class="nav-link" routerLink="/cart"
            ><img src="assets/images/cart.svg"
          /></a>
        </li>
        <li *ngIf="login">
          <a class="nav-link" style="cursor: pointer" (click)="signOut()">
            <svg
              style="color: white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-log-out"
            >
              <path
                d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"
                fill="white"
              ></path>
              <polyline points="16 17 21 12 16 7"></polyline>
              <line x1="21" y1="12" x2="9" y2="12"></line>
            </svg>
          </a>
        </li>
        <li *ngIf="!login">
          <button class="btn btn-sm p2" routerLink="/login-signup">
            Sign In
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
