<!--     padding: calc(3rem - 30px) 0 1.2rem 0; -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Cart</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>

<div
  class="d-md-flex align-items-md-center untree_co-section before-footer-section"
  *ngIf="cartItems.length === 0"
>
  <div class="container text-center space-2 space-3--lg">
    <div class="w-md-80 w-lg-60 text-center mx-md-auto">
      <div class="mb-5">
        <span class="u-icon u-icon--secondary u-icon--lg rounded-circle mb-4">
          <span class="fa fa-shopping-bag u-icon__inner"></span>
        </span>
        <h1 class="h2">Your cart is currently empty</h1>
        <p>
          Before proceed to checkout you must add some products to your shopping
          cart. You will find a lot of interesting products on our "Shop" page.
        </p>
      </div>
      <a class="btn btn-primary btn-wide" routerLink="/shop">Start Shopping</a>
    </div>
  </div>
</div>
<div
  class="untree_co-section before-footer-section"
  *ngIf="cartItems.length > 0"
>
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td class="product-thumbnail">
                  <img
                    src="assets/images/{{ item.productDetails?.img }}"
                    alt="Image"
                    class="img-fluid"
                  />
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ item.productDetails.title }}</h2>
                </td>
                <td>£{{ item.productDetails.price }}</td>
                <td>
                  <div
                    class="input-group mb-3 d-flex align-items-center quantity-container"
                    style="max-width: 120px"
                  >
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-outline-black decrease"
                        type="button"
                        (click)="updateCartItemQuantity(item.productId, false)"
                      >
                        &minus;
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center quantity-amount"
                      value="{{ item.qty }}"
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-black increase"
                        type="button"
                        (click)="updateCartItemQuantity(item.productId, true)"
                      >
                        &plus;
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  £{{ (item.productDetails.price * item.qty).toFixed(2) }}
                </td>
                <td>
                  <a
                    class="btn btn-black btn-sm"
                    (click)="removeFromCart(item.id)"
                    >X</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6">
            <button
              class="btn btn-outline-black btn-sm btn-block"
              routerLink="/shop"
            >
              Continue Shopping
            </button>
          </div>
        </div>
        <form [formGroup]="CouponForm" (ngSubmit)="applyCoupon()">
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input
                type="text"
                class="form-control py-3"
                id="coupon"
                placeholder="Coupon Code"
                formControlName="code"
                [ngClass]="{
                  'is-invalid':
                    CouponForm.get('code')?.invalid &&
                    CouponForm.get('code')?.touched,
                  'is-valid':
                    CouponForm.get('code')?.valid &&
                    CouponForm.get('code')?.touched
                }"
              />
              <div
                *ngIf="
                  CouponForm.get('code').invalid &&
                  CouponForm.get('code').touched
                "
              >
                <div *ngIf="CouponForm.get('code').hasError('required')">
                  Coupon code is required
                </div>
                <div *ngIf="CouponForm.get('code').hasError('pattern')">
                  Invalid coupon code
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <button class="btn btn-black" type="submit">Apply Coupon</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">£{{ cartTotal() }}</strong>
              </div>
            </div>
            <div class="row mb-3" *ngIf="couponPercent > 0">
              <div class="col-md-6">
                <span class="text-black">Coupon</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">£{{ couponTotal() }}</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">£{{ cartTotal() }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button
                  class="btn btn-black btn-lg py-3 btn-block"
                  (click)="checkout()"
                  routerLink="/checkout"
                >
                  Proceed To Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
