<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold"
          >{{ profileForm.get("firstName")?.value }}
          {{ profileForm.get("lastName")?.value }}</span
        >
        <span class="text-black-50">{{ profileForm.get("email")?.value }}</span>
        <span> </span>
      </div>
    </div>
    <div class="col-md-9 border-right">
      <form [formGroup]="profileForm" (ngSubmit)="profileSave()">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <!-- <label class="labels">Name</label> -->
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('firstName')?.invalid &&
                    profileForm.get('firstName')?.touched,
                  'is-valid':
                    profileForm.get('firstName')?.valid &&
                    profileForm.get('firstName')?.touched
                }"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('lastName')?.invalid &&
                    profileForm.get('lastName')?.touched,
                  'is-valid':
                    profileForm.get('lastName')?.valid &&
                    profileForm.get('lastName')?.touched
                }"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                value="{{ profileForm.get('email')?.value }}"
                disabled
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
                formControlName="phoneNo"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('phoneNo')?.invalid &&
                    profileForm.get('phoneNo')?.touched,
                  'is-valid':
                    profileForm.get('phoneNo')?.valid &&
                    profileForm.get('phoneNo')?.touched
                }"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Address line 1"
                formControlName="address1"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('address1')?.invalid &&
                    profileForm.get('address1')?.touched,
                  'is-valid':
                    profileForm.get('address1')?.valid &&
                    profileForm.get('address1')?.touched
                }"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Address line 2"
                formControlName="address2"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('address2')?.invalid &&
                    profileForm.get('address2')?.touched,
                  'is-valid':
                    profileForm.get('address2')?.valid &&
                    profileForm.get('address2')?.touched
                }"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Town/City"
                formControlName="townCity"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('townCity')?.invalid &&
                    profileForm.get('townCity')?.touched,
                  'is-valid':
                    profileForm.get('townCity')?.valid &&
                    profileForm.get('townCity')?.touched
                }"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Post Code"
                formControlName="postCode"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('postCode')?.invalid &&
                    profileForm.get('postCode')?.touched,
                  'is-valid':
                    profileForm.get('postCode')?.valid &&
                    profileForm.get('postCode')?.touched
                }"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('country')?.invalid &&
                    profileForm.get('country')?.touched,
                  'is-valid':
                    profileForm.get('country')?.valid &&
                    profileForm.get('country')?.touched
                }"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="State"
                formControlName="state"
                [ngClass]="{
                  'is-invalid':
                    profileForm.get('state')?.invalid &&
                    profileForm.get('state')?.touched,
                  'is-valid':
                    profileForm.get('state')?.valid &&
                    profileForm.get('state')?.touched
                }"
              />
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">
              Save Profile
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="col-md-4">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
          <span>Edit Experience</span
          ><span class="border px-3 p-1 add-experience"
            ><i class="fa fa-plus"></i>&nbsp;Experience</span
          >
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Experience in Designing</label
          ><input
            type="text"
            class="form-control"
            placeholder="experience"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Additional Details</label
          ><input
            type="text"
            class="form-control"
            placeholder="additional details"
            value=""
          />
        </div>
      </div>
    </div> -->
  </div>
</div>
