<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0" *ngFor="let item of Items">
  <div class="post-entry">
    <a href="#" class="post-thumbnail"
      ><img src="assets/images/{{ item.img }}" alt="Image" class="img-fluid"
    /></a>
    <div class="post-content-entry">
      <h3>
        <a href="#">{{ item.title }}</a>
      </h3>
      <div class="meta">
        <span
          >by <a href="#">{{ item.author }}</a></span
        >
        <span
          >on <a href="#">{{ item.date }}</a></span
        >
      </div>
    </div>
  </div>
</div>
